<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Electrical Analisis Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	
	<!-- references for map - Luis Sauceda 10/02/19 -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  	crossorigin=""/>
  	<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  	integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  	crossorigin=""></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<!--  -->
</head>
<body>
	<div class = "container-fluid">
		<div class = "jumbotron">
			<h1 class = "text-center"> Electrical Billing Information</h1>
		</div>
	</div>
	<div class= "container-fluid">
		<div class="row">
		  	<div class="col-9">
	  			<div class="card border-secondary" style = "height: 100%;">
		  			<h4 class="card-header">Mapa</h4>
		  			<div class="card-body">
    					<h4 class="card-title">Secondary card title</h4>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
						<div id="map" style="width: 600px; height: 400px;"></div>						
						<!--API Key-->
						<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
						<script>console.log("{{ url_for('static', filename='js/config.js') }}");</script>
						
						<!-- JS -->	
  						<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>					  
					</div>
  				</div>
		  	</div>
		  	<div class="col-3">
				<div class="card mb-3" style = "height: 100%;">
				  	<h4 class="card-header">Edificio</h4>
				  	<img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
				  	<div class="card-body">
						<h5 class = "card-title">Seleccionar Mes</h5>
						<div class="btn-group btn-group-toggle" data-toggle="buttons" style = width>
							<label class="btn btn-primary active">
						    	<input type="checkbox" checked="" autocomplete="off"> Julio
						  	</label>
						  	<label class="btn btn-primary">
						    	<input type="checkbox" autocomplete="off"> Agosto
						  	</label>
						</div>	
						<hr/>
						<h5 class = "card-title">Información</h5>			  	
				  		<div class="card card-body text-white bg-info mb-3">
				  			<h2 class ="text-center">3.3 Million</h1>
				  			<p class = "mb-0 text-center">Number of coolers</p>	
				  		</div>
				  		<div class="card card-body text-white bg-info mb-3">
				  			<h2 class ="text-center">18.7%</h1>
				  			<p class = "mb-0 text-center">Electrical bill savings</p>	
				  		</div>			  								
				  	</div>
				</div>
		  	</div>
		</div>
	</div>
	<div class = "container-fluid">
		<div class = "row">
			<div class="col-3">
				<div class="card border-secondary">
					<h4 class="card-header">Indicadores</h4>
					<div class="card-body">
	    				<h4 class="card-title">Secondary card title</h4>
	    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  				</div>
	  			</div>
			</div>
			<div class="col-9">
				<div class="card border-secondary" style = "height: 100%;">
					<h4 class="card-header">Grafico</h4>
					<div class="card-body">
	    				<h4 class="card-title">Secondary card title</h4>
	    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  				</div>
	  			</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>