<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Indicadores Energeticos</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<!-- references for map - Luis Sauceda 10/02/19 -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
				integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
				crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
					integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
					crossorigin=""></script>
    <!-- D3 V5-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!--  -->
</head>
<body>
	<div class = "container-fluid">
		<div class = "jumbotron">
			<h1 class = "text-center">Energy Dashboard</h1>
		</div>
	</div>
	<div class= "container-fluid">
		<div class="row">
		  	<div class="col-9">
	  			<div class="card border-secondary" style = "height: 100%;">
		  			<h4 class="card-header">Map</h4>
		  			<div class="card-body">
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
						<div id="map" style="width: 100%; height: 100%;"></div>						
						<!--API Key-->
						<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
						<!-- <script>console.log("{{ url_for('static', filename='js/config.js') }}");</script> -->
						
						<!-- JS -->	
  						<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>					  
					</div>
  				</div>
		  	</div>
		  	<div class="col-3">
				<div class="card mb-3" style = "height: 100%;">
				  	<h4 class="card-header">Reforma 490</h4>
				  	<img style="height: 200px; width: 100%; display: block;" src="{{ url_for('static', filename='images/46321.png') }}" alt="Card image">
				  	<div class="card-body">
						<h5 class = "card-title">Seleccionar Mes</h5>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary">
						    	<input type="radio" name="optionsRadios" id="optionsRadios1" value="7" checked=""> Julio
						  	</label>
						  	<label class="btn btn-primary">
						    	<input type="radio" name="optionsRadios" id="optionsRadios2" value="8"> Agosto
						  	</label>
						</div>
						<hr/>
						<h5 class = "card-title">Información</h5>			  	
				  		<div class="card card-body text-white bg-info mb-3">
				  			<h2 id="kpi" class ="text-center"></h2>
				  			<p class = "mb-0 text-center">Energy consumption (kWh)</p>	
				  		</div>
				  		<div class="card card-body text-white bg-info mb-3" style="margin-bottom: 0px !important;">
				  			<h2 id='kpi2' class ="text-center"></h2>
				  			<p class = "mb-0 text-center">Energy cost (MXN)</p>	
				  		</div>			  								
				  	</div>
				</div>
		  	</div>
		</div>
	</div>
	<div class = "container-fluid">
		<div class = "row">
			<div class="col-3">
				<div class="card border-secondary">
					<h4 class="card-header">Indicadores</h4>
					<div class="card-body">
				  		<div class="card card-body text-white bg-success mb-3">
				  			<h2 id= 'kpi3' class ="text-center"></h2>
				  			<p class = "mb-0 text-center">Maximum power at peak period (kW)</p>	
				  		</div>
				  		<div class="card card-body text-white bg-success mb-3" style="margin-bottom: 0px !important;">
				  			<h2 id = 'kpi4' class ="text-center"></h2>
				  			<p class = "mb-0 text-center">Capacity cost (MXN)</p>	
				  		</div>		    				
	  				</div>
	  			</div>
			</div>
			<div class="col-9">
				<div class="card border-secondary" style = "height: 100%;">
					<h4 class="card-header">Maximum power at peak period every day</h4>
					<div id="grafica" class="card-body">
	  				</div>
	  			</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/draw_data.js') }}"></script>
</body>
</html>