<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Electrical Analisis Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
	<div class = "container-fluid">
		<div class = "jumbotron">
			<h1 class = "text-center"> Electrical Billing Information</h1>
		</div>
	</div>
	<div class= "container-fluid">
		<div class="row">
		  <div class="col-6" style="max-width: 100%;">
		  	<div class="card border-secondary mb-3" >
				<div class="card-header">Header</div>
				<div class="card-body">
					<h4 class="card-title">Secondary card title</h4>
			    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
		  	</div>
		  	<div class="col-4">col-8</div>
		  	<div class="col-2">col-2</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>